## Lambda function

In [1]:
def test(a,b):
    c=a**b
    return c

In [15]:
test(9,4)

6561

In [5]:
## now we can do this in another way also know as lambda function 
## which is a anymous function, function without name

In [11]:
a= lambda n,p: n** p

In [18]:
a(3,2)

9

In [19]:
add= lambda x,y: x+y   # sort hand function

In [20]:
add(5,6)

11

In [26]:
# c to f 
c_to_f= lambda c: (9/5)*c+32

In [28]:
c_to_f(34.5)

94.1

In [29]:
## create a lambda function to find out which number is maximum:

In [31]:
max_two= lambda a,b: a if a>b else b

In [32]:
max_two(5,6)

6

In [33]:
max_two(6,4)

6

In [39]:
## find lenght of string using lambda function
s="Pw skills"
number=0
len_string= lambda a: len(a)

In [40]:
len_string(s)

9

## Map, reduce and filter function in python

## Map

In [15]:
l=[1,2,3,45,5]

In [16]:
## calculate square of given list

def test1(a):
    l1=[]
    for i in a:
        l1.append(i**2)
    return l1

In [17]:
test1(l)

[1, 4, 9, 2025, 25]

In [2]:
# what if i tell you that you can do this in one single line

In [18]:
def sq(a):
    return a**2

In [19]:
map(sq,l)

In [20]:
tuple(map(sq,l))

(1, 4, 9, 2025, 25)

In [21]:
list(map(sq,l))

[1, 4, 9, 2025, 25]

In [22]:
set(map(sq,l))

{1, 4, 9, 25, 2025}

In [23]:
# even you can pass it with lamba
list(map(lambda x: x**2,l))

[1, 4, 9, 2025, 25]

In [24]:
## adding +10 in every element of list using mapper and lambda:
list(map(lambda x: x+10,l))

[11, 12, 13, 55, 15]

In [25]:
## convert each and every element in string
list(map(lambda x: str(x),l))

['1', '2', '3', '45', '5']

In [28]:
list(map(lambda x: str(x),l))

['1', '2', '3', '45', '5']

In [29]:
list(map(lambda x: int(x),l))

[1, 2, 3, 45, 5]

In [30]:
# there is 2 list given try to add them :
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [64]:
## adding them using mapper function
def test1(a,b):
      return a+b

In [65]:
set(map(test1,l1,l2))

{7, 9, 11, 13, 15}

In [66]:
## use same map function without using upper function instead of that use lambda

In [67]:
tuple(map(lambda x,y: x+y,l1,l2))

(7, 9, 11, 13, 15)

In [69]:
# or you can try this way also.
f=lambda x,y: x+y

In [72]:
 set(map(f,l1,l2))  # we're done..

{7, 9, 11, 13, 15}

In [73]:
## seprate the string and return in uppercase using map with lambda

In [105]:
string="pw skills"
string

'pw skills'

In [106]:
def teststr(a):
    return a.upper()

In [107]:
map(teststr,string)

In [108]:
tuple(map(lambda x: x.upper(),string))

('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')

##  reduce()

In [110]:
from functools import reduce
l=[1,2,3,4,5,4] ## do summation of it by using sum[] and for loop

In [131]:
# reduce function reduce or collapse entire list or iterbale object

In [132]:
reduce(lambda x,y:x+y,l)  ## how this works explain in notebook first it take x=1 + y=2, now x=3 and next iterable y=3 and so on.

19

In [111]:
l=[1,2,3,4,5,4] ## do summation of it by using sum[] and for loop

In [130]:
number=0
for i in l: 
    number+=i

print(number)
## done nice

19

In [133]:
# or 
def reducel(x,y):
    
     return x+y

In [134]:
reduce(reducel,l) ## it works like this also

19

In [135]:
l1=lambda x,y: x+y # this also works

In [136]:
reduce(l1,l)

19

In [144]:
l

[1, 2, 3, 4, 5, 4, 1]

In [149]:
l2=[1,2,3,4,5,6,7,8]

In [150]:
l2

[1, 2, 3, 4, 5, 6, 7, 8]

In [153]:
# take three parameters now:
reduce(lambda x,y,z:x+y+z,l) 
## now why this is not working
## answer 
# 1isx 2isy 3isz now result of this is 6x moving forward 4isy and 5isz result of all this 15isx
## now main, part 15 is x and last element 4isy so, there is no argument for z that's the reason and
# it is very good idea to point out only 2 pair more than 2 will collapse.

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [159]:
reduce(lambda x,y:x*y,l) # now it will also

480

In [155]:
## now suppose if we try to pass empty list

In [156]:
reduce(lambda x,y:x+y,[]) # no it will not work

TypeError: reduce() of empty iterable with no initial value

In [158]:
## now this is expecntional case of reduce function if we are passing one element:

reduce(lambda x,y:x*y,[1])
## now you are going to ask where is y but this is expectional case

1

In [162]:
reduce(lambda x,y: x if x>y else y,l)

5

# Filtre function

In [163]:
# filtre(): filtre through all iterate elemets

In [169]:
tuple(filter(lambda x: x%2==0,l)) ## nice

(2, 4, 4)

In [167]:
## filter means it will filtre out automatically wihout using the if and else conditon

In [170]:
## you have to call it with data squence like mapping unlike the reduce function which is called by
# from functools import reduce

In [171]:
tuple(filter(lambda x: x%2!=0,l)) ## nice

(1, 3, 5, 1)

In [172]:
l1=[-3,4,-6,4,4,-2,58]

In [175]:
tuple(filter(lambda x: x<0,l1))  # - neg number

(-3, -6, -2)

In [176]:
tuple(filter(lambda x: x>0,l1))

(4, 4, 4, 58)

In [177]:
l2=["sudh","pwskills","kumar","banglore","krish"]

In [179]:
tuple(filter(lambda x: x.len()<6,l2))

AttributeError: 'str' object has no attribute 'len'